.menu {
  background-color: darkslategrey;
  height: 70px;
  line-height: 69px;
}

.text-menu {
  color: white;
}

.searchBar {
  margin: 0 auto;
  margin-top: 100px;
  width: 300px;
  display: block;
}
